<header class="header-section container-fluid" >
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="./index.html" class="site-logo">
            <img  class ="logo"src="img/logo.png" alt="">
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Search on divisima ....">
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <a href="#">Sign</a> In or <a href="#">Create Account</a>
            </div>
            <!--Cart Compoennet-->
            <div class="up-item">
              <div class="shopping-card">
                <i class="flaticon-bag" (click)="navigateToCart('cart')"></i>
                <span>{{cartList?.length}}</span>
              </div>
              <a >Shopping Cart</a>
            </div>


            <!--favourite cart-->
            <div class="up-item">
            <app-faviorite [favouriteList]="favouriteList"
            (navigateToRoute)="navigateToCart($event)"
            >

            </app-faviorite>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
     <li *ngFor ="let header of headerMenu" >
      <a [class.active]='header.isActive' (click)="navigateTo(header)">
      {{header.name}} </a>
     <!-- <ul [ngClass]="header.subMenu && header.subMenu.length>0?'sub-menu':''"  *ngIf ="header.subMenu && header.subMenu.length>0" >
       <li *ngFor='let headerinner of header.subMenu'>
         <a href='#'>{{headerinner.subMenuName}}</a>

       </li>

     </ul> -->
     
    </li>
     
      </ul>
    </div>
  </nav>
</header>
