<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="container">

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            <input type="number">
          </td>
          <td></td>
          <td>
        
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-warning"> < Continue with Shopping</button>
    </div>
    <div class="col-md-4">
      <label for="">Total </label>
      <button class="btn btn-primary">Checkout ></button>
    </div>
  </div>
</div>