
<div class="container">
  <div class="jumbotron col-md-6">
    <h3 class="text-center"><label for="">Login page</label> </h3>
    <form  autocomplete="off">
      <div class="form-group">
        <label for="email">User Name</label>
        <input type="text" autocomplete="off"  class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</div>